@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Epic &mdash; Fully Responsive Free HTML5 Bootstrap Website Template by FREEHTML5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!--
        //////////////////////////////////////////////////////

        FREE HTML5 TEMPLATE
        DESIGNED & DEVELOPED by FREEHTML5.CO

        Website: 		http://freehtml5.co/
        Email: 			info@freehtml5.co
        Twitter: 		http://twitter.com/fh5co
        Facebook: 		https://www.facebook.com/fh5co

        //////////////////////////////////////////////////////
         -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Animate -->
    <link rel="stylesheet" href="/Template/Demo/epic/css/animate.css">
    <!-- Icomoon -->
    <link rel="stylesheet" href="/Template/Demo/epic/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/Template/Demo/epic/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/Template/Demo/epic/css/magnific-popup.css">

    <link rel="stylesheet" href="/Template/Demo/epic/css/style.css">


    <!-- jQuery -->
    <script src="/Template/Demo/epic/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/Template/Demo/epic/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/Template/Demo/epic/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/Template/Demo/epic/js/jquery.waypoints.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/Template/Demo/epic/js/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="/Template/Demo/epic/js/main.js"></script>


    <!-- Modernizr JS -->
    <script src="/Template/Demo/epic/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/Template/Demo/epic/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Loader -->
    <div class="fh5co-loader"></div>

    @*<div id="fh5co-logo">
        <a href="index.html" class="transition"><i class="icon-camera"></i><em><span class="icon-home"></span></em></a>
    </div>*@

    <div id="fh5co-main" role="main">

        <div class="container">



            <div class="row">
                <div class="col-md-8 col-md-push-4 fh5co-heading">
                    <h1>二手闲置银色Chanel</h1>
                    <p>leboy大号 买来25000 现在14500出 有发票和刷卡小票</p>
                    <p>绝对正品，诚意转让，价格可谈</p>
                </div>
            </div>


            <div class="fh5co-grid">

                <div class="fh5co-col-1">
                    <div class="fh5co-heading padding-right">
                        <h2>产品介绍</h2>
                        <table>
                            <tbody>
                                <tr class="firstRow">
                                    <td width="300" valign="top" style="word-break: break-all;">
                                        <span style="color: rgb(103, 103, 103); font-family: Roboto, arial, sans-serif; font-size: 18px; line-height: 32.4px; background-color: rgb(255, 255, 255);">现价：14500 rmb</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="300" valign="top" style="word-break: break-all;">
                                        <span style="color: rgb(103, 103, 103); font-family: Roboto, arial, sans-serif; font-size: 18px; line-height: 32.4px; background-color: rgb(255, 255, 255);">背包9成新，背了半年</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="300" valign="top" style="word-break: break-all;">
                                        <span style="color: rgb(103, 103, 103); font-family: Roboto, arial, sans-serif; font-size: 18px; line-height: 32.4px; background-color: rgb(255, 255, 255);">有意请联系微信号:xxxxx</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            <br />
                        </p>
                    </div>

                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/1bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/1bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" title="Nice one">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/6bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/6bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/2bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/2bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/3bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/3bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="fh5co-col-2">

                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/8bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/8bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/5bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/5bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/4bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/4bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="fh5co-item">
                        <a href="/Images/Exp_Sales/7bag.jpg" class="image-popup animate-box">
                            <img src="/Images/Exp_Sales/7bag.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
                            <div class="fh5co-item-text-wrap">
                                <div class="fh5co-item-text">
                                    <h2><i class="icon-search2"></i></h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div id="fh5co-footer" class="padding-left">
                        <p><small>&copy; 2016 Epic. All Rights Reserved. <br> Designed by Triangle </small></p>
                        <ul class="fh5co-social">
                            <li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
                            <li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
                            <li><a href="#"><i class="icon-instagram-with-circle"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
